/*.container {
    display: flex;
    flex-wrap: wrap;

}

.section {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    background-color: #567189;
}

.right {
    background-color: var(--yellow);
}

.trail-placeholder {
    max-width: 25%;
    height: auto;
}

#header-results {
    background-color: var(--green);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    color: #d9d9d9;
}

.left-logo {
    position: relative;
    left: 10;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
}
*/

:root {
    --dark-blue: #374045;
    --green: #557153;
    --grey: #4b4952;
    --yellow: #f6e0b5;
    --dusty-blue: #567189;
    --black: #000;
    --white: #fff;
    --brown: #8B7E74;
    --yellow2: #EBC556;
    --rust: #BB674B;
    --orange: #CE9061;
}

body {
    font-family: 'Oswald', sans-serif;

}

.section {

    color: black;
}

.navbar {
    background-color: var(--green);
}

#snacks {
    background-color: #374045;
}

#dashes {
    
    background-color: #567189;
}

.left-logo {
    position: relative;
    left: 10;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
}


.headerforsnd {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 350;
    margin-bottom: 20px;
}

.navbar-item {
    color: #000;
    font-size: 35px;
    font-weight: 400;
}

.container {
    background-color: #557153;
    padding: 20px;
    color: #000;
}

.trail-name {
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    /* Add other styling properties here */
}

h2 {
    color: white;
}

#home-btn {
    width: 10em;
    border-radius: 25px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

#home-btn:hover {
    background-color: var(--dusty-blue);
    color: var(--white);
    letter-spacing: 2px;
    font-size: 21px;
    font-weight: bolder;
    border: 2px solid #000;
}

.twitter {
    color: #fff;
    margin-left: 10%;
}

#twitter-share {
    color: white;
}

h1 {
    color: white;
    font-weight: bold;
}

p {
    color: #fff;
    margin-bottom: 10px;
}