:root {
    --dark-blue: #374045;
    --green: #557153;
    --grey: #4b4952;
    --yellow: #f6e0b5;
    --dusty-blue: #567189;
    --black: #000;
    --white: #fff;
    --brown: #8B7E74;
    --yellow2: #EBC556;
    --rust: #BB674B;
    --orange: #CE9061;
}

body {
    font-family: 'Oswald', sans-serif;
}

#header {
    background-color: var(--grey);
    /* margin-bottom: -28px; */
    height: 26em;
    align-content: center !important;
}

h3 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 120px;
    text-shadow: 0px 4px 4px var(--black);
    font-family: 'Amatic SC', cursive;
}

#logo {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100px;
    width: auto;
    margin-top: -.6em;
}

.bnr-text {
    justify-content: center !important;
    margin-top: -12px !important;
}

/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden;
    /* HIDE SCROLL BAR */
    background: #567189;
    color: antiquewhite;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 30px;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
    margin-right: 33rem;
    margin-left: 30rem;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

#time-ticker {
    align-items: center;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-400%, 0, 0);
    }
}

.hmove {
    animation: tickerh linear 60s infinite;
}

.hmove:hover {
    animation-play-state: paused;
}

.weather-widget {
    width: 330px;
    position: absolute;
    right: 0;
    background-color: #567189;
    z-index: 4;
    margin-bottom: -72px;
}

/* .weather-container {
    float: left;
} */

/* @media only screen and (max-width: 768px) {
    .hmove {
        animation-duration: 60s;
    }
} */

/* HERO IMAGE SLIDER */

.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 35.2s infinite;
}

.slider .slide:nth-child(1) {
    background-image: url('assets\images\Trail1.png');
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    background-image: url('assets\images\Trail2.png');
    animation-delay: -4.4s;
}

.slider .slide:nth-child(3) {
    background-image: url('assets\images\Trail3.png');
    animation-delay: -8.8;
}

.slider .slide:nth-child(4) {
    background-image: url('assets\images\Trail4.png);
    animation-delay: -13.2s;
}

.slider .slide:nth-child(5) {
    background-image: url('assets\images\Trail5.png');
    animation-delay: -17.6s;
}

.slider .slide:nth-child(6) {
    background-image: url('assets\images\Trail6.png');
    animation-delay: -22s;
}

.slider .slide:nth-child(7) {
    background-image: url('assets\images\Trail7.png');
    animation-delay: -26.4s;
}

.slider .slide:nth-child(8) {
    background-image: url('assets\images\Trail8.png');
    animation-delay: -30.8s;
}


@keyframes slider {

    0%,
    18%,
    100% {
        opacity: 1;
        animation-timing-function: ease;
        z-index: 0;
    }

    20% {
        opacity: 0;
        animation-timing-function: step-end;
        z-index: 0;
    }

    98% {
        opacity: 1;
        animation-timing-function: step-end;
        z-index: -1;
    }
}

#navbar-border {
    border-bottom: solid 1px #b6b7b7b0 !important;
    padding-bottom: .3em;
}

.navbar-item {
    font-size: 24px;
}

.navbar-logo {
    position: relative;
    margin-left: 2em;
    margin-right: 1.7em;
    padding-top: .84em;
}

.navbar-logo:hover {
    cursor: context-menu;
}

h1 {
    position: relative;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 90px !important;
    padding-bottom: 20px;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 40px !important;
}

#snd-description {
    position: relative;
    margin-top: -6.8rem !important;
    margin-bottom: -4rem !important;
}

#break-ht {
    line-height: 11px;
}

#how-it-works {
    position: relative;
    text-align: center;
    font-size: 38px !important;
    line-height: 1.6em;
}

ul {
    text-align: center;
    font-size: 33px;
    line-height: 1.7em;
}

#card-position {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

#preferences-container {
    width: 180px !important;
}

#past-searches-container {
    width: 180px !important;
}

#trailForm {
    align-items: center;
}

.card-header {
    font-size: 22px;
    background-color: #8b7e74ef;
    letter-spacing: 1px;
}

#card-header-pref {
    background-color: #8b7e74a7 !important;
}

#searchBtn {
    font-size: 17px;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

#searchBtn:hover {
    cursor: pointer;
    background-color: var(--yellow);
    font-size: 19px;
    font-weight: bold;
}

#modal-btn {
    font-size: 17px;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

#modal-btn:hover {
    cursor: pointer;
    background-color: var(--yellow);
    font-size: 19px;
    font-weight: bold;
}

.label {
    font-size: 19px;
}

#diet {}

#diet-none {}

#diet-dairy {}

#diet-gluten {}

#diet-nuts {}

#pace {}

#pace-surprise {}

#pace-easy {}

#pace-medium {}

#pace-hard {}

#grp-size {}

#grp-size-solo {}

#grp-size-date {}

#grp-size-5 {}

#grp-size-big {}


/* ABOUT US CSS GUIDE */

#hero-top {
    background-color: var(--rust);
    height: 15.2rem;
    color: #fff;
    align-items: center;
    margin-top: -2.8em !important;
    /* padding-bottom: 1em !important; */
}

#about-us {
    font-size: 104px !important;
    letter-spacing: 1px;
}

.treeline {
    display: flex;
    margin-top: -2.8em;
    justify-content: center;
    min-width: none;
}

#dev-name {
    font-size: 26px;
}

#dev-github {
    font-size: 21px;
}

#blurb {
    text-align: center !important;
    font-size: 23px;
    padding-top: 30px;
    width: 100%;
}

#hero-bottom {
    margin-top: -3em;
}

#home-align {
    align-self: flex-end;
    margin-right: 18em;
    margin-top: 1em;
}

#home-btn {
    width: 10em;
    border-radius: 25px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

#home-btn:hover {
    background-color: var(--dusty-blue);
    color: var(--white);
    letter-spacing: 2px;
    font-size: 21px;
    font-weight: bolder;
    border: 2px solid #000;
}

#img-us {
    display: flex;
    flex-wrap: wrap;
    margin-left: .5rem;
    margin-right: .5rem;
    min-width: 340px;
}

#img-us:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#about-pics {
    margin-top: 2rem;
}

.bio-pics {
    flex-wrap: wrap;
    margin-bottom: 5rem;
    width: 100%;
}

#center-biopics {
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 20px !important;
    font-weight: bold;
}

#modal-head {
    text-align: center !important;
    align-items: center !important;
    justify-content: center;
    font-size: 32px;
}

#modal-foot {
    text-align: center !important;
    align-items: center !important;
    justify-content: center;
}

#modal-content {
    font-size: 24px !important;
    text-align: center;
}

#reset {
    font-size: 18px !important;
}

#reset:hover {
    text-shadow: 0px 2px 2px var(--black);
    box-shadow: 3px 3px 2px var(--grey);
}

#clear {
    font-size: 18px !important;
}

#clear:hover {
    text-shadow: 0px 2px 2px var(--black);
    box-shadow: 3px 3px 2px var(--grey);
}

#hide {
    display: none;
}

#results-foot {
    background-color: #fff !important;
}

/* For screens wider than 1024px */
@media screen and (min-width: 1024px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .column {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 1rem;
    }
}

/* For screens wider than 768px and less than or equal to 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    .column {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 0.75rem;
    }
}

/* For screens less than or equal to 768px */
@media screen and (max-width: 768px) {
    .columns {
        display: block;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    .column {
        flex-basis: auto;
        padding: 0.75rem;
    }
}
