:root {
    --dark-blue: #374045;
    --green: #557153;
    --grey: #4b4952;
    --yellow: #f6e0b5;
    --dusty-blue: #567189;
    --black: #000;
    --white: #fff;
    --brown: #8B7E74;
    --yellow2: #EBC556;
    --rust: #BB674B;
    --orange: #CE9061;
}

body {
    font-family: 'Oswald', sans-serif;;
}

#header {
    background-color: var(--green);
    padding-left: 20px;
    /* margin-bottom: -28px; */
    height: 110px;
    align-content: center !important;
}

#weather-banner {
    background-color: #567189;
    height: 20px;
    border-radius: 0%;
    color: antiquewhite;
    text-align: justify;
}

.bnr-text {
    justify-content: center !important;
    margin-top: -12px !important;
}

/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden;
    /* HIDE SCROLL BAR */
    background: #567189;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
    margin-right: 33rem;
    margin-left: 30rem;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

#time-ticker {
    align-items: center;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-400%, 0, 0);
    }
}

.hmove {
    animation: tickerh linear 60s infinite;
}

.hmove:hover {
    animation-play-state: paused;
}

/* @media only screen and (max-width: 768px) {
    .hmove {
        animation-duration: 60s;
    }
} */

#diet {

}

#diet-none {

}

#diet-dairy {

}

#diet-gluten {

}

#diet-nuts {

}

#pace {

}

#pace-surprise {

}

#pace-easy {

}

#pace-medium {

}

#pace-hard {

}

#grp-size {

}

#grp-size-solo {

}

#grp-size-date {

}

#grp-size-5 {

}

#grp-size-big {

}


/* COLOR TESTING SITE */
#color {
    background-color: #8B7E74;
}

#color2 {
    background-color: var(--dark-blue);
}

#color3 {
    background-color: var(--dusty-blue);
}

#color4 {
    background-color: var(--green);
}

#color5 {
    background-color: var(--yellow);
}

#color9 {
    background-color: #BB674B;
}

#color7 {
    background-color: #CE9061;
}

#color8 {
    background-color: #EBC556;
}

#logo {
    height: 100px;
    width: auto;
}

#logo-container {
    margin-bottom: -27px;
    padding-left: 1.4em;
    padding-bottom: .8em;
}